{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": ["off", "ForOfStatement"]
  }
}
